<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="areeb.scratch.iconpack"
    android:installLocation="auto" >

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/theme_title" >
        
        <activity
            android:name="areeb.scratch.iconpack.MainActivity"
            android:label="@string/theme_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.INFO" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gau.go.launcherex.theme.gowidget" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gau.go.launcherex.theme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gau.go.launcherex.theme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.fede.launcher.THEME_ICONPACK" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.adw.launcher.THEMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="areeb.scratch.iconpack.Icons"
            android:label="@string/title_activity_icons" >
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>